---

---

<section class="scene scene-2" id="scene-2">
  <div class="scene-2-content">
    <!-- Diamonds will go here -->
  </div>
</section>

<style>
  .scene-2 {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
